In [1]:
import pandas as pd
import numpy as np

Players = pd.read_csv("Players.csv")

In [2]:
Team_UEAA=pd.read_csv("UEAA.csv") 
Team_FILA=pd.read_csv("FILA.csv") 
Team_FILH=pd.read_csv("FILH.csv") 
Team_CCH=pd.read_csv("CCH.csv") 
Team_UWEA=pd.read_csv("UWEA.csv") 
Team_UWEH=pd.read_csv("UWEH.csv") 
Team_CCA=pd.read_csv("CCA.csv") 
Team_UEAH=pd.read_csv("UEAH.csv") 
Team_LEEA=pd.read_csv("LEEA.csv")

# Birmingham Lions 2022/23 Season Stats

## Passing Stats

In [3]:
UEAA_Q=pd.read_csv("UEA_A_Q.csv") 
FILA_Q=pd.read_csv("FIL_A_Q.csv") 
FILH_Q=pd.read_csv("FIL_H_Q.csv") 
CCH_Q =pd.read_csv("CC_H_Q.csv") 
UWEA_Q=pd.read_csv("UWE_A_Q.csv") 
UWEH_Q=pd.read_csv("UWE_H_Q.csv") 
CCA_Q =pd.read_csv("CC_A_Q.csv") 
UEAH_Q=pd.read_csv("UEA_H_Q.csv") 
LEEA_Q=pd.read_csv("LEE_A_Q.csv") 

events=[UEAA_Q, FILA_Q, FILH_Q, CCH_Q, UWEA_Q, UWEH_Q, CCA_Q, UEAH_Q, LEEA_Q]
adjusted=[]
players=[Team_UEAA,Team_FILA,Team_FILH,Team_CCH,Team_UWEA,Team_UWEH,Team_CCA,Team_UEAH,Team_LEEA]

In [4]:
games=pd.read_csv("Games.csv")

In [5]:
DFList=[]
statistics_O=[]
for x in range(len(events)):
    game=players[x].merge(events[x], left_on="Number", right_on="Player").drop(columns="Player")
    game= games[games.Game==x+1].merge(game, how="cross")
    game["Completion"] = game.Completion.apply(lambda x: 1 if x=="Y" else 0)
    DFList.append(game)
    df = game.groupby("playerID")
    df = pd.DataFrame({
    "Player" : df.Number.max(),
    "Completions" : df.Completion.sum(),
    "Attempts" : df.Completion.count(),
    "%" : round(df.Completion.sum()*100/df.Completion.count(), 1),
    "Passing Yards" : df.Yards.sum(),
    "Passing TDs" : df.TD.count(),
    "Int" : df.Int.count(),
    "Fumbles" : df.QBFum.count()
    })
    df= Players.merge(df, left_on="id", right_on="playerID").drop(columns=["id"])
    statistics_O.append(df)
concat= pd.concat(DFList)
df=concat.groupby("playerID")

In [6]:
stats= pd.DataFrame({
    "Player" : df.Number.max(),
    "Completions" : df.Completion.sum(),
    "Attempts" : df.Completion.count(),
    "%" : round(df.Completion.sum()*100/df.Completion.count(), 1),
    "Passing Yards" : df.Yards.sum(),
    "Passing TDs" : df.TD.count(),
    "Int" : df.Int.count(),
    "Fumbles" : df.QBFum.count()
})
stats= Players.merge(stats, left_on="id", right_on="playerID").drop(columns=["id"])

In [7]:
stats.sort_values(by=["Passing Yards"], ascending=False)

,Name,Player,Completions,Attempts,%,Passing Yards,Passing TDs,Int,Fumbles
2,Noah Murray,10,33,114,28.9,323.0,3,7,0
1,Ethan Payne,12,17,47,36.2,266.0,3,3,2
0,Ethan Eggleston,15,1,2,50.0,5.0,0,0,0

### @ UEA Pirates

In [8]:
statistics_O[0].sort_values(by=["Passing Yards", "Passing TDs"], ascending=False)

,Name,Player,Completions,Attempts,%,Passing Yards,Passing TDs,Int,Fumbles
0,Ethan Payne,12,3,6,50.0,74.0,1,0,0
1,Noah Murray,10,3,12,25.0,48.0,0,0,0

### @ SGS Pride

In [9]:
statistics_O[1].sort_values(by=["Passing Yards", "Passing TDs"], ascending=False)

,Name,Player,Completions,Attempts,%,Passing Yards,Passing TDs,Int,Fumbles
1,Noah Murray,10,6,16,37.5,32.0,0,2,0
0,Ethan Payne,12,1,7,14.3,5.0,0,1,1

### vs SGS Pride

In [10]:
statistics_O[2].sort_values(by=["Passing Yards", "Passing TDs"], ascending=False)

,Name,Player,Completions,Attempts,%,Passing Yards,Passing TDs,Int,Fumbles
1,Noah Murray,10,5,23,21.7,34.0,0,2,0
0,Ethan Eggleston,15,1,2,50.0,5.0,0,0,0

### vs Cardiff Cobras

In [11]:
statistics_O[3].sort_values(by=["Passing Yards", "Passing TDs"], ascending=False)

,Name,Player,Completions,Attempts,%,Passing Yards,Passing TDs,Int,Fumbles
0,Noah Murray,9,9,14,64.3,163.0,2,1,0

### @ UWE Bullets

In [12]:
statistics_O[4].sort_values(by=["Passing Yards", "Passing TDs"], ascending=False)

,Name,Player,Completions,Attempts,%,Passing Yards,Passing TDs,Int,Fumbles
0,Noah Murray,10,7,18,38.9,32.0,1,0,0

### vs UWE Bullets

In [13]:
statistics_O[5].sort_values(by=["Passing Yards", "Passing TDs"], ascending=False)

,Name,Player,Completions,Attempts,%,Passing Yards,Passing TDs,Int,Fumbles
0,Noah Murray,10,1,15,6.7,2.0,0,1,0

### @ Cardiff Cobras

In [14]:
statistics_O[6].sort_values(by=["Passing Yards", "Passing TDs"], ascending=False)

,Name,Player,Completions,Attempts,%,Passing Yards,Passing TDs,Int,Fumbles
0,Ethan Payne,12,4,12,33.3,97.0,0,0,0
1,Noah Murray,9,0,10,0.0,0.0,0,1,0

### vs UEA Pirates

In [15]:
statistics_O[7].sort_values(by=["Passing Yards", "Passing TDs"], ascending=False)

,Name,Player,Completions,Attempts,%,Passing Yards,Passing TDs,Int,Fumbles
0,Ethan Payne,12,6,15,40.0,77.0,2,0,0
1,Noah Murray,10,1,3,33.3,14.0,0,0,0

### @ Leeds Beckett Carnegie

In [16]:
statistics_O[8].sort_values(by=["Passing Yards", "Passing TDs"], ascending=False)

,Name,Player,Completions,Attempts,%,Passing Yards,Passing TDs,Int,Fumbles
0,Ethan Payne,12,3,7,42.9,13.0,0,2,1
1,Noah Murray,10,1,3,33.3,-2.0,0,0,0

## Receiving Stats

In [17]:
DFList=[]
statistics_R=[]
for x in range(len(events)):
    game=players[x].merge(events[x], left_on="Number", right_on="Target").drop(columns="Player")
    game= games[games.Game==x+1].merge(game, how="cross")
    game["Completion"] = game.Completion.apply(lambda x: 1 if x=="Y" else 0)
    DFList.append(game)
    df = game.groupby("playerID")
    df = pd.DataFrame({
    "Player" : df.Number.min(),
    "Catches" : df.Completion.sum(),
    "Targets" : df.Completion.count(),
    "%" : round(df.Completion.sum()*100/df.Completion.count(), 1),
    "Receiving Yards" : df.Yards.sum()+df.FumYards.sum(),
    "Receiving TDs" : df.TD.count(),
    "Fumbles" : df.FumRec.count()
    })
    df= Players.merge(df, left_on="id", right_on="playerID").drop(columns=["id"])
    statistics_R.append(df)
concat= pd.concat(DFList)
df=concat.groupby("playerID")
df = pd.DataFrame({
    "Player" : df.Number.min(),
    "Catches" : df.Completion.sum(),
    "Targets" : df.Completion.count(),
    "%" : round(df.Completion.sum()*100/df.Completion.count(), 1),
    "Receiving Yards" : df.Yards.sum()+df.FumYards.sum(),
    "Receiving TDs" : df.TD.count(),
    "Fumbles" : df.FumRec.count()
    })
stats= Players.merge(df, left_on="id", right_on="playerID").drop(columns=["id"])

In [18]:
stats.sort_values(by=["Receiving Yards"], ascending=False)

,Name,Player,Catches,Targets,%,Receiving Yards,Receiving TDs,Fumbles
8,James Schofield,8,15,44,34.1,291.0,4,1
11,Nick Huneidi,4,6,21,28.6,138.0,0,0
13,Theo Lewis,19,3,4,75.0,61.0,1,0
10,Nicholas Bergamaschi,19,3,5,60.0,42.0,0,0
5,Demi Agienoji,19,4,11,36.4,29.0,0,0
12,Oli Mohr-Knox,11,5,15,33.3,28.0,0,0
4,Damilola Iyun,84,3,13,23.1,25.0,1,0
3,Cormac Connell,84,2,8,25.0,21.0,0,0
14,Vojtech Ryp,85,3,9,33.3,14.0,0,0
1,Andrew Saffar,39,2,4,50.0,7.0,0,0
7,Grady Nightingale,11,2,4,50.0,5.0,0,0
2,Bryan Okai,27,2,3,66.7,2.0,0,0
9,Johnny Hakim,80,1,2,50.0,2.0,0,0
0,Adam O'Reilly,45,1,1,100.0,1.0,0,0
6,Ethan Payne,12,0,1,0.0,0.0,0,0

### @ UEA Pirates

In [19]:
statistics_R[0].sort_values(by=["Receiving Yards", "Receiving TDs"], ascending=False)

,Name,Player,Catches,Targets,%,Receiving Yards,Receiving TDs,Fumbles
0,James Schofield,8,3,8,37.5,78.0,1,0
1,Nick Huneidi,49,4,12,33.3,64.0,0,0
3,Vojtech Ryp,85,1,2,50.0,12.0,0,0
2,Oli Mohr-Knox,11,0,1,0.0,0.0,0,0

### @ SGS Pride

In [20]:
statistics_R[1].sort_values(by=["Receiving Yards", "Receiving TDs"], ascending=False)

,Name,Player,Catches,Targets,%,Receiving Yards,Receiving TDs,Fumbles
5,Oli Mohr-Knox,11,5,11,45.5,28.0,0,0
3,James Schofield,8,1,4,25.0,5.0,0,0
0,Bryan Okai,27,1,1,100.0,4.0,0,0
1,Damilola Iyun,84,0,1,0.0,0.0,0,0
2,Demi Agienoji,94,0,1,0.0,0.0,0,0
4,Nick Huneidi,86,0,1,0.0,0.0,0,0
6,Theo Lewis,19,0,1,0.0,0.0,0,0

### vs SGS Pride

In [21]:
statistics_R[2].sort_values(by=["Receiving Yards", "Receiving TDs"], ascending=False)

,Name,Player,Catches,Targets,%,Receiving Yards,Receiving TDs,Fumbles
2,Demi Agienoji,94,3,6,50.0,25.0,0,0
1,Damilola Iyun,84,1,6,16.7,9.0,0,0
0,Andrew Saffar,39,1,1,100.0,5.0,0,0
3,Nick Huneidi,86,0,2,0.0,0.0,0,0
4,Oli Mohr-Knox,11,0,3,0.0,0.0,0,0
5,Vojtech Ryp,85,1,2,50.0,0.0,0,0

### vs Cardiff Cobras

In [22]:
statistics_R[3].sort_values(by=["Receiving Yards", "Receiving TDs"], ascending=False)

,Name,Player,Catches,Targets,%,Receiving Yards,Receiving TDs,Fumbles
0,James Schofield,8,5,8,62.5,127.0,1,0
1,Theo Lewis,19,3,3,100.0,61.0,1,0
2,Vojtech Ryp,85,1,3,33.3,2.0,0,0

### @ UWE Bullets

In [23]:
statistics_R[4].sort_values(by=["Receiving Yards", "Receiving TDs"], ascending=False)

,Name,Player,Catches,Targets,%,Receiving Yards,Receiving TDs,Fumbles
4,James Schofield,8,3,6,50.0,29.0,1,0
3,Demi Agienoji,19,1,2,50.0,4.0,0,0
1,Andrew Saffar,39,1,3,33.3,2.0,0,0
0,Adam O'Reilly,45,1,1,100.0,1.0,0,0
2,Damilola Iyun,84,1,2,50.0,1.0,0,0

### vs UWE Bullets

In [24]:
statistics_R[5].sort_values(by=["Receiving Yards", "Receiving TDs"], ascending=False)

,Name,Player,Catches,Targets,%,Receiving Yards,Receiving TDs,Fumbles
3,Johnny Hakim,80,1,2,50.0,2.0,0,0
0,Damilola Iyun,84,0,3,0.0,0.0,0,0
1,Demi Agienoji,19,0,2,0.0,0.0,0,0
2,James Schofield,8,0,3,0.0,0.0,0,0
4,Nick Huneidi,86,0,1,0.0,0.0,0,0

### @ Cardiff Cobras

In [25]:
statistics_R[6].sort_values(by=["Receiving Yards", "Receiving TDs"], ascending=False)

,Name,Player,Catches,Targets,%,Receiving Yards,Receiving TDs,Fumbles
4,Nick Huneidi,4,1,3,33.3,60.0,0,0
3,James Schofield,8,2,7,28.6,37.0,0,0
0,Cormac Connell,84,0,5,0.0,0.0,0,0
1,Ethan Payne,12,0,1,0.0,0.0,0,0
2,Grady Nightingale,89,1,3,33.3,0.0,0,0
5,Vojtech Ryp,85,0,2,0.0,0.0,0,0

### vs UEA Pirates

In [26]:
statistics_R[7].sort_values(by=["Receiving Yards", "Receiving TDs"], ascending=False)

,Name,Player,Catches,Targets,%,Receiving Yards,Receiving TDs,Fumbles
3,Nicholas Bergamaschi,19,2,2,100.0,32.0,0,0
1,Damilola Iyun,90,1,1,100.0,15.0,1,0
2,James Schofield,8,1,6,16.7,15.0,1,0
4,Nick Huneidi,86,1,2,50.0,14.0,0,0
0,Cormac Connell,84,1,2,50.0,13.0,0,0

### @ Leeds Beckett Carnegie

In [27]:
statistics_R[8].sort_values(by=["Receiving Yards", "Receiving TDs"], ascending=False)

,Name,Player,Catches,Targets,%,Receiving Yards,Receiving TDs,Fumbles
4,Nicholas Bergamaschi,19,1,3,33.3,10.0,0,0
1,Cormac Connell,84,1,1,100.0,8.0,0,0
2,Grady Nightingale,11,1,1,100.0,5.0,0,0
3,James Schofield,8,0,2,0.0,0.0,0,1
0,Bryan Okai,27,1,2,50.0,-2.0,0,0

## Rushing Stats

In [28]:
UEAA=pd.read_csv("UEA_A_O.csv") 
FILA=pd.read_csv("FIL_A_O.csv") 
FILH=pd.read_csv("FIL_H_O.csv") 
CCH=pd.read_csv("CC_H_O.csv") 
UWEA=pd.read_csv("UWE_A_O.csv") 
UWEH=pd.read_csv("UWE_H_O.csv") 
CCA=pd.read_csv("CC_A_O.csv") 
UEAH=pd.read_csv("UEA_H_O.csv") 
LEEA=pd.read_csv("LEE_A_O.csv")

In [29]:
events=[UEAA, FILA, FILH, CCH, UWEA, UWEH, CCA, UEAH, LEEA]
players=[Team_UEAA,Team_FILA,Team_FILH,Team_CCH,Team_UWEA,Team_UWEH,Team_CCA,Team_UEAH,Team_LEEA]
DFList=[]
for x in range(len(events)):
    game=players[x].merge(events[x], left_on="Number", right_on="Player").drop(columns="Player")
    DFList.append(game)

In [30]:
concat=pd.concat(DFList)

In [31]:
df = concat.groupby("playerID")

In [32]:
rushData = pd.DataFrame({
    "Number":df.Number.agg(pd.Series.mode),
    "RushYards":df.Yards.sum(),
    "RushAttempts":df.Yards.count(),
    "AvgPerRush":round(df.Yards.sum()/df.Yards.count(),1),
    "RushTDs":df.TD.count(),
    "FL":df.FL.count(),
    "FNL":df.FNL.count(),
    "FR":df.FR.count()
}).reset_index()

In [33]:
finalDF = Players.merge(rushData, left_on="id", right_on="playerID").drop(columns=["id","playerID"])

In [34]:
finalDF.sort_values(by=["RushYards", "RushTDs"], ascending=False)

,Name,Number,RushYards,RushAttempts,AvgPerRush,RushTDs,FL,FNL,FR
1,Bryan Okai,27,499.0,84,5.9,2,0,1,2
11,Rylee Ocampo,26,82.0,32,2.6,0,0,0,0
0,Adam O'Reilly,45,58.0,22,2.6,1,0,0,0
5,Ethan Payne,12,51.0,14,3.6,3,0,0,0
8,Khalil Ibrahim,36,29.0,9,3.2,1,0,0,0
10,Noah Murray,10,18.0,12,1.5,0,0,1,0
3,Emily Irvine,14,5.0,6,0.8,0,1,0,0
6,James Schofield,8,5.0,1,5.0,0,0,0,0
7,James Williams,20,2.0,1,2.0,0,0,0,0
4,Ethan Eggleston,15,-2.0,1,-2.0,0,0,0,0
2,Damilola Iyun,84,-4.0,1,-4.0,0,0,0,0
9,Milo Wakefield,25,-6.0,1,-6.0,0,0,0,0

In [35]:
statistics=[]

for game in events:
    df = game.groupby("Player")
    rushData = pd.DataFrame({
        "RushYards":df.Yards.sum(),
        "RushAttempts":df.Yards.count(),
        "AvgPerRush":round(df.Yards.sum()/df.Yards.count(),1),
        "RushTDs":df.TD.count(),
        "FL":df.FL.count(),
        "FNL":df.FNL.count(),
        "FR":df.FR.count()
    }).reset_index().rename(columns={"Player":"Number"})
    stats = Players.merge(Team_UEAA.merge(rushData), left_on="id", right_on="playerID").drop(columns=["id", "playerID"])
    statistics.append(stats)

### @ UEA Pirates

In [36]:
statistics[0].sort_values(by=["RushYards", "RushTDs"], ascending=False)

,Name,Number,RushYards,RushAttempts,AvgPerRush,RushTDs,FL,FNL,FR
0,Bryan Okai,27,54,7,7.7,0,0,0,0
3,Rylee Ocampo,26,40,12,3.3,0,0,0,0
1,Emily Irvine,14,3,3,1.0,0,0,0,0
2,Ethan Payne,12,2,4,0.5,1,0,0,0

### @ SGS Pride

In [37]:
statistics[1].sort_values(by=["RushYards", "RushTDs"], ascending=False)

,Name,Number,RushYards,RushAttempts,AvgPerRush,RushTDs,FL,FNL,FR
0,Bryan Okai,27,21,6,3.5,0,0,0,0
2,Ethan Payne,12,8,2,4.0,0,0,0,0
5,Rylee Ocampo,26,8,8,1.0,0,0,0,0
1,Emily Irvine,14,1,2,0.5,0,0,0,0
3,Khalil Ibrahim,36,0,1,0.0,0,0,0,0
4,Noah Murray,10,-3,2,-1.5,0,0,0,0

### vs SGS Pride

In [38]:
statistics[2].sort_values(by=["RushYards", "RushTDs"], ascending=False)

,Name,Number,RushYards,RushAttempts,AvgPerRush,RushTDs,FL,FNL,FR
0,Bryan Okai,27,33,11,3.0,0,0,0,0
2,Noah Murray,10,3,2,1.5,0,0,0,0
1,Laurence Piper,24,-3,1,-3.0,0,0,0,0
3,Rylee Ocampo,26,-4,1,-4.0,0,0,0,0

### vs Cardiff Cobras

In [39]:
statistics[3].sort_values(by=["RushYards", "RushTDs"], ascending=False)

,Name,Number,RushYards,RushAttempts,AvgPerRush,RushTDs,FL,FNL,FR
4,Milo Wakefield,25,47.0,2,23.5,1,0,0,0
0,Bryan Okai,27,43.0,7,6.1,0,0,0,0
5,Rylee Ocampo,26,31.0,6,5.2,0,0,0,0
1,Emily Irvine,14,1.0,1,1.0,0,1,0,0
3,Ethan Payne,12,1.0,1,1.0,0,0,0,0
2,Ethan Eggleston,15,-2.0,1,-2.0,0,0,0,0

### @ UWE Bullets

In [40]:
statistics[4].sort_values(by=["RushYards", "RushTDs"], ascending=False)

,Name,Number,RushYards,RushAttempts,AvgPerRush,RushTDs,FL,FNL,FR
3,Rylee Ocampo,26,2.0,3,0.7,0,0,0,0
2,Noah Murray,10,0.0,0,NaN,0,0,1,0
1,Bryan Okai,27,-5.0,9,-0.6,0,0,0,1
0,Adam O'Reilly,45,-9.0,7,-1.3,0,0,0,0

### vs UWE Bullets

In [41]:
statistics[5].sort_values(by=["RushYards", "RushTDs"], ascending=False)

,Name,Number,RushYards,RushAttempts,AvgPerRush,RushTDs,FL,FNL,FR
0,Adam O'Reilly,45,-2,6,-0.3,0,0,0,0
1,Damilola Iyun,84,-4,1,-4.0,0,0,0,0
3,Milo Wakefield,25,-6,1,-6.0,0,0,0,0
4,Noah Murray,10,-6,2,-3.0,0,0,0,0
2,Khalil Ibrahim,36,-11,4,-2.8,0,0,0,0

### @ Cardiff Cobras

In [42]:
statistics[6].sort_values(by=["RushYards", "RushTDs"], ascending=False)

,Name,Number,RushYards,RushAttempts,AvgPerRush,RushTDs,FL,FNL,FR
0,Bryan Okai,27,139,21,6.6,0,0,1,1
1,Ethan Payne,12,18,4,4.5,1,0,0,0
2,James Schofield,8,5,1,5.0,0,0,0,0
3,Noah Murray,10,-4,1,-4.0,0,0,0,0

### vs UEA Pirates

In [43]:
statistics[7].sort_values(by=["RushYards", "RushTDs"], ascending=False)

,Name,Number,RushYards,RushAttempts,AvgPerRush,RushTDs,FL,FNL,FR
1,Bryan Okai,27,127,11,11.5,1,0,0,0
0,Adam O'Reilly,45,55,7,7.9,1,0,0,0
2,Ethan Payne,12,14,2,7.0,1,0,0,0
3,James Williams,20,2,1,2.0,0,0,0,0
4,Khalil Ibrahim,36,-4,1,-4.0,0,0,0,0

### @ Leeds Beckett Carnegie

In [44]:
statistics[8].sort_values(by=["RushYards", "RushTDs"], ascending=False)

,Name,Number,RushYards,RushAttempts,AvgPerRush,RushTDs,FL,FNL,FR
1,Bryan Okai,27,87,12,7.2,1,0,0,0
0,Adam O'Reilly,45,13,1,13.0,0,0,0,0
2,Ethan Payne,12,9,2,4.5,0,0,0,0
4,Rylee Ocampo,26,5,2,2.5,0,0,0,0
3,Noah Murray,10,0,1,0.0,0,0,0,0

## Defensive

In [45]:
UEAA_D=pd.read_csv("UEA_A_D.csv") 
FILA_D=pd.read_csv("FIL_A_D.csv") 
FILH_D=pd.read_csv("FIL_H_D.csv") 
CCH_D=pd.read_csv("CC_H_D.csv") 
UWEA_D=pd.read_csv("UWE_A_D.csv") 
UWEH_D=pd.read_csv("UWE_H_D.csv") 
CCA_D=pd.read_csv("CC_A_D.csv") 
UEAH_D=pd.read_csv("UEA_H_D.csv") 
LEEA_D=pd.read_csv("LEE_A_D.csv")

In [46]:
events=[UEAA_D, FILA_D, FILH_D, CCH_D, UWEA_D, UWEH_D, CCA_D, UEAH_D, LEEA_D]
adjusted=[]
players=[Team_UEAA,Team_FILA,Team_FILH,Team_CCH,Team_UWEA,Team_UWEH,Team_CCA,Team_UEAH,Team_LEEA]
DFList=[]
for game in events:
    game["nTackles"]= game.Tackle.apply(lambda x: 1 if x=="Y" else np.nan)
    game["hTackles"]= game.Tackle.apply(lambda x: 1 if x=="H" else np.nan)
    game["mTackles"]= game.Tackle.apply(lambda x: 1 if x=="M" else np.nan)
for x in range(len(events)):
    game=players[x].merge(events[x], left_on="Number", right_on="Player").drop(columns="Player")
    DFList.append(game)
    df=game.groupby("playerID")
    adjusted.append(Players.merge(pd.DataFrame({
        "Number":df.Number.agg(pd.Series.mode),
        "Tackles":df.nTackles.count() + 0.5*df.hTackles.count(),
        "TFL":df.TFL.sum(),
        "Pressure":df.Pressure.count(),
        "Sack":df.Sack.sum(),
        "Int":df.Int.count(),
        "FF": df.FF.count(),
        "FR": df.FR.count(),
        "TD": df.TD.count()
    }).reset_index(), left_on="id", right_on="playerID", how="right").drop(columns=["id", "playerID"]))
concat=pd.concat(DFList)
#concat=concat[(concat.Tackle!="M")]
df=concat.groupby("playerID")
df= pd.DataFrame({
    "Number":df.Number.agg(pd.Series.mode),
    "Tackles":df.nTackles.count() + 0.5*df.hTackles.count(),
    "TFL":df.TFL.sum(),
    "Pressure":df.Pressure.count(),
    "Sack":df.Sack.sum(),
    "Int":df.Int.count(),
    "FF": df.FF.count(),
    "FR": df.FR.count(),
    "TD": df.TD.count()
}).reset_index()
df=Players.merge(df, left_on="id", right_on="playerID", how="right").drop(columns=["id", "playerID"])

In [47]:
df[(df.Tackles>0) | (df.Int>0) | (df.Pressure > 0)].sort_values(by=["Tackles","TFL"], ascending=False)

                   Name  Number  Tackles  TFL  Pressure  Sack  Int  FF  FR  TD
36           Obed Addai      40     33.0  0.0         1   0.0    1   1   0   0
5         Ben El-Hawary      32     30.5  0.5         1   0.0    0   0   0   0
32       Milo Wakefield      25     24.0  2.5         0   0.0    1   0   0   0
6         Bhavya Gandhi      46     21.5  7.0         7   0.0    0   0   0   0
0           Aaron Mante      56     20.5  8.0        30   1.5    0   0   0   0
12             Ed Cohen      46     17.5  0.5        11   0.0    1   0   0   0
48       Tom Richardson      16     16.5  1.0         6   0.0    0   0   1   0
20       James Williams      20     12.5  1.0         1   1.0    2   0   1   1
16        Freddie James      90     11.5  4.0        11   1.0    0   0   0   0
44       Sam Williamson      54     11.5  0.5         4   0.0    0   0   1   0
51     Zak Hall-Annison      51     11.5  0.0         7   0.0    0   0   1   0
10           Dan Wickes      38      9.0  0.0         0   0.0    0   0   0   0
41   Prince Osei-George      57      8.5  1.5         4   0.5    0   0   0   0
18          Ivan Abbott      47      7.0  0.5         8   0.0    1   1   0   0
19      James Schofield       8      6.0  0.0         0   0.0    0   0   0   0
42           Rory Chick      35      4.5  0.0         0   0.0    0   0   0   0
37        Obosa Osazuwa      52      4.0  2.0         5   0.0    0   1   0   0
8         Christan Covi      28      3.0  1.0         0   0.0    0   0   0   0
1          Adam Chouder      37      3.0  0.0         0   0.0    0   0   0   0
30           Luc Bessel      92      3.0  0.0         6   1.0    0   0   0   0
14         Eliakim Alem      43      2.5  2.0         3   0.0    0   1   0   0
29         Lisandr Qose      29      2.5  0.0         0   0.0    0   0   0   0
49      Tovy Rubinstein      18      2.5  0.0         0   0.0    0   0   0   0
11         David Ononye      94      2.0  0.0         0   0.0    0   0   0   0
38        Oli Mohr-Knox      11      2.0  0.0         0   0.0    0   0   0   0
47            Tom Arney      30      2.0  0.0         0   0.0    0   0   0   0
25         Kevin Davies      48      1.5  0.0         2   0.0    0   0   0   0
26       Khalil Ibrahim      25      1.5  0.0         0   0.0    0   0   0   0
33       Mohammad Ayoub      73      1.0  0.5         1   0.0    0   0   0   0
3             Alex Baer      91      1.0  0.0         8   0.0    0   0   0   0
28       Laurence Piper      24      1.0  0.0         0   0.0    1   0   0   0
50          Zack Hermon      53      1.0  0.0         2   0.0    0   0   0   0
2         Adam O'Reilly      45      0.5  0.0         2   0.0    0   0   0   0
4         Andrew Saffar      39      0.5  0.0         0   0.0    0   0   0   0
7            Bryan Okai      27      0.5  0.0         0   0.0    0   0   0   0
24         Jip De Vries      68      0.5  0.0         0   0.0    0   0   0   0
35          Noah Murray      10      0.5  0.0         0   0.0    0   0   0   0
13          Eddie Perry      65      0.0  0.0         1   0.0    0   0   0   0
21  Jeevan Singh Soomal      68      0.0  0.0         1   0.0    0   0   0   0
22          Jesse Onyas      34      0.0  0.0         0   0.0    1   0   0   0
27      Kyle Jay Insley      97      0.0  0.0         1   0.0    0   0   0   0
34          Niklas Adio      99      0.0  0.0         1   0.0    0   0   0   0
39       Oliver Fischer      36      0.0  0.0         3   0.0    0   0   0   0
45            Seun Albi      61      0.0  0.0         1   0.0    0   0   0   0

### @ UEA Pirates

In [48]:
adjusted[0][(adjusted[0].Tackles>0) | (adjusted[0].Int>0) | (adjusted[0].Pressure > 0)].sort_values(by=['Tackles'], ascending=False)

                  Name  Number  Tackles  TFL  Pressure  Sack  Int  FF  FR  TD
22      Tom Richardson      16      5.0  0.0         0   0.0    0   0   0   0
18  Prince Osei-George      57      4.0  0.5         2   0.5    0   0   0   0
9        Freddie James      90      3.5  1.0         1   0.0    0   0   0   0
16       Obosa Osazuwa      52      2.5  1.0         0   0.0    0   0   0   0
2        Ben El-Hawary      32      2.0  0.0         0   0.0    0   0   0   0
15          Obed Addai      40      2.0  0.0         0   0.0    0   0   0   0
7         David Ononye      94      2.0  0.0         0   0.0    0   0   0   0
0          Aaron Mante       5      1.5  0.5         3   0.5    0   0   0   0
24    Zak Hall-Annison      51      1.5  0.0         1   0.0    0   0   0   0
3        Bhavya Gandhi      93      1.5  1.0         0   0.0    0   0   0   0
8             Ed Cohen      46      1.0  0.0         2   0.0    0   0   0   0
1         Adam Chouder      37      1.0  0.0         0   0.0    0   0   0   0
12        Lisandr Qose      29      1.0  0.0         0   0.0    0   0   0   0
14      Milo Wakefield      25      1.0  1.0         0   0.0    0   0   0   0
5        Christan Covi      28      1.0  1.0         0   0.0    0   0   0   0
20      Sam Williamson      54      1.0  0.0         0   0.0    0   0   0   0
23         Zack Hermon      53      1.0  0.0         0   0.0    0   0   0   0
10      James Williams      20      1.0  0.0         0   0.0    0   0   0   0
11      Laurence Piper      24      0.5  0.0         0   0.0    1   0   0   0
6           Dan Wickes      38      0.5  0.0         0   0.0    0   0   0   0
4           Bryan Okai      27      0.5  0.0         0   0.0    0   0   0   0

### @ SGS Pride

In [49]:
adjusted[1][(adjusted[1].Tackles>0) | (adjusted[1].Int>0) | (adjusted[1].Pressure > 0)].sort_values(by=['Tackles'], ascending=False)

                  Name  Number  Tackles  TFL  Pressure  Sack  Int  FF  FR  TD
3        Ben El-Hawary      32      3.0  0.0         1   0.0    0   0   0   0
12      Milo Wakefield      25      2.5  0.0         0   0.0    0   0   0   0
15          Obed Addai      40      2.5  0.0         0   0.0    0   1   0   0
11          Luc Bessel      92      2.0  0.0         5   1.0    0   0   0   0
0          Aaron Mante       5      2.0  1.5         4   1.0    0   0   0   0
5             Ed Cohen      46      2.0  0.0         0   0.0    0   0   0   0
20      Sam Williamson      54      1.5  0.0         1   0.0    0   0   0   0
6        Freddie James      90      1.0  1.0         2   0.0    0   0   0   0
8       James Williams      20      1.0  0.0         0   0.0    1   0   0   0
18  Prince Osei-George      57      1.0  0.5         0   0.0    0   0   0   0
19          Rory Chick      35      1.0  0.0         0   0.0    0   0   0   0
21           Tom Arney      30      1.0  0.0         0   0.0    0   0   0   0
22      Tom Richardson      16      1.0  0.0         0   0.0    0   0   0   0
23    Zak Hall-Annison      51      1.0  0.0         0   0.0    0   0   1   0
9         Jip De Vries      68      0.5  0.0         0   0.0    0   0   0   0
14         Noah Murray      10      0.5  0.0         0   0.0    0   0   0   0
4           Dan Wickes      38      0.5  0.0         0   0.0    0   0   0   0
7          Ivan Abbott      47      0.0  0.0         1   0.0    0   0   0   0
2            Alex Baer      91      0.0  0.0         1   0.0    0   0   0   0
13         Niklas Adio      99      0.0  0.0         1   0.0    0   0   0   0
16       Obosa Osazuwa      52      0.0  0.0         4   0.0    0   0   0   0

### vs SGS Pride

In [50]:
adjusted[2][(adjusted[2].Tackles>0) | (adjusted[2].Int>0) | (adjusted[2].Pressure > 0)].sort_values(by=['Tackles'], ascending=False)

                Name  Number  Tackles  TFL  Pressure  Sack  Int  FF  FR  TD
3      Ben El-Hawary      32      6.0  0.0         0   0.0    0   0   0   0
8           Ed Cohen      46      5.0  0.0         2   0.0    0   0   0   0
18        Obed Addai      40      4.5  0.0         0   0.0    0   0   0   0
23    Tom Richardson      16      3.5  0.0         4   0.0    0   0   0   0
22    Sam Williamson      54      3.5  0.0         1   0.0    0   0   0   0
16    Milo Wakefield      25      3.0  1.5         0   0.0    0   0   0   0
7         Dan Wickes      38      3.0  0.0         0   0.0    0   0   0   0
19     Oli Mohr-Knox      11      2.0  0.0         0   0.0    0   0   0   0
11       Ivan Abbott      47      2.0  0.0         2   0.0    0   0   0   0
1       Adam Chouder      37      2.0  0.0         0   0.0    0   0   0   0
0        Aaron Mante       5      1.5  0.5         5   0.0    0   0   0   0
25  Zak Hall-Annison      51      1.5  0.0         5   0.0    0   0   0   0
10     Freddie James      90      1.0  0.0         2   0.0    0   0   0   0
15        Luc Bessel      92      0.5  0.0         1   0.0    0   0   0   0
6      Christan Covi      28      0.5  0.0         0   0.0    0   0   0   0
21        Rory Chick      35      0.5  0.0         0   0.0    0   0   0   0
4      Bhavya Gandhi      93      0.5  0.0         4   0.0    0   0   0   0
2          Alex Baer      91      0.0  0.0         1   0.0    0   0   0   0
24       Zack Hermon      53      0.0  0.0         1   0.0    0   0   0   0
14   Kyle Jay Insley      97      0.0  0.0         1   0.0    0   0   0   0

### vs Cardiff Cobras

In [51]:
adjusted[3][(adjusted[3].Tackles>0) | (adjusted[3].Int>0) | (adjusted[3].Pressure > 0)].sort_values(by=['Tackles'], ascending=False)

                Name  Number  Tackles  TFL  Pressure  Sack  Int  FF  FR  TD
4      Bhavya Gandhi      46      9.0  3.0         1   0.0    0   0   0   0
20        Obed Addai      40      8.0  0.0         1   0.0    0   0   0   0
9      Freddie James      90      4.0  0.5         1   0.0    0   0   0   0
26    Tom Richardson      16      4.0  0.0         1   0.0    0   0   0   0
28  Zak Hall-Annison      51      2.5  0.0         1   0.0    0   0   0   0
19    Milo Wakefield       3      2.5  0.0         0   0.0    0   0   0   0
11       Ivan Abbott      47      2.5  0.5         2   0.0    0   0   0   0
7           Ed Cohen      44      2.5  0.0         0   0.0    0   0   0   0
0        Aaron Mante       5      2.0  2.0         6   0.0    0   0   0   0
3      Ben El-Hawary      22      2.0  0.0         0   0.0    0   0   0   0
6         Dan Wickes      32      1.5  0.0         0   0.0    0   0   0   0
12   James Schofield       8      1.5  0.0         0   0.0    0   0   0   0
15    Khalil Ibrahim      25      1.5  0.0         0   0.0    0   0   0   0
16      Lisandr Qose      42      1.0  0.0         0   0.0    0   0   0   0
22        Rory Chick      35      1.0  0.0         0   0.0    0   0   0   0
25         Tom Arney      38      1.0  0.0         0   0.0    0   0   0   0
2          Alex Baer      91      1.0  0.0         2   0.0    0   0   0   0
1      Adam O'Reilly      12      0.5  0.0         0   0.0    0   0   0   0
14      Kevin Davies      48      0.5  0.0         0   0.0    0   0   0   0
17        Luc Bessel      93      0.5  0.0         0   0.0    0   0   0   0
5      Christan Covi      28      0.5  0.0         0   0.0    0   0   0   0
27   Tovy Rubinstein      18      0.5  0.0         0   0.0    0   0   0   0
8        Eddie Perry      65      0.0  0.0         1   0.0    0   0   0   0
21    Oliver Fischer      59      0.0  0.0         1   0.0    0   0   0   0
13       Jesse Onyas      34      0.0  0.0         0   0.0    1   0   0   0

### @ UWE Bullets

In [52]:
adjusted[4][(adjusted[4].Tackles>0) | (adjusted[4].Int>0) | (adjusted[4].Pressure > 0)].sort_values(by=['Tackles'], ascending=False)

                  Name  Number  Tackles  TFL  Pressure  Sack  Int  FF  FR  TD
6             Ed Cohen      46      3.0  0.0         3   0.0    0   0   0   0
3        Ben El-Hawary      32      2.5  0.0         0   0.0    0   0   0   0
15          Obed Addai      40      2.5  0.0         0   0.0    1   0   0   0
20    Zak Hall-Annison      51      2.5  0.0         0   0.0    0   0   0   0
11      James Williams      20      2.0  1.0         1   1.0    0   0   0   0
17          Rory Chick      35      2.0  0.0         0   0.0    0   0   0   0
5           Dan Wickes      38      1.5  0.0         0   0.0    0   0   0   0
14      Milo Wakefield      25      1.5  0.0         0   0.0    0   0   0   0
16  Prince Osei-George      57      1.5  0.0         1   0.0    0   0   0   0
10     James Schofield       8      1.0  0.0         0   0.0    0   0   0   0
12        Kevin Davies      48      1.0  0.0         2   0.0    0   0   0   0
2        Andrew Saffar      39      0.5  0.0         0   0.0    0   0   0   0
19     Tovy Rubinstein      18      0.5  0.0         0   0.0    0   0   0   0
0          Aaron Mante      56      0.0  0.0         3   0.0    0   0   0   0
9          Ivan Abbott      47      0.0  0.0         1   0.0    1   0   0   0

### vs UWE Bullets

In [53]:
adjusted[5][(adjusted[5].Tackles>0) | (adjusted[5].Int>0) | (adjusted[5].Pressure > 0)].sort_values(by=['Tackles'], ascending=False)

              Name  Number  Tackles  TFL  Pressure  Sack  Int  FF  FR  TD
6   James Williams      20      2.0  0.0         0   0.0    0   0   0   0
7   Milo Wakefield      25      2.0  0.0         0   0.0    0   0   0   0
8       Obed Addai      40      2.0  0.0         0   0.0    0   0   0   0
1    Ben El-Hawary      32      1.0  0.0         0   0.0    0   0   0   0
9    Obosa Osazuwa      52      0.0  0.0         1   0.0    0   0   0   0
13     Zack Hermon      53      0.0  0.0         1   0.0    0   0   0   0

### @ Cardiff Cobras

In [54]:
adjusted[6][(adjusted[6].Tackles>0) | (adjusted[6].Int>0) | (adjusted[6].Pressure > 0)].sort_values(by=['Tackles'], ascending=False)

               Name  Number  Tackles  TFL  Pressure  Sack  Int  FF  FR  TD
12       Obed Addai      40      6.5  0.0         0   0.0    0   0   0   0
0       Aaron Mante      56      6.0  2.0         6   0.0    0   0   0   0
14   Sam Williamson      54      5.5  0.5         2   0.0    0   0   0   0
11   Milo Wakefield       3      4.0  0.0         0   0.0    0   0   0   0
10   James Williams      20      3.5  0.0         0   0.0    1   0   0   0
3     Bhavya Gandhi      46      3.5  0.0         1   0.0    0   0   0   0
2     Ben El-Hawary      22      3.0  0.5         0   0.0    0   0   0   0
15   Tom Richardson      16      2.0  1.0         1   0.0    0   0   1   0
8       Ivan Abbott      47      2.0  0.0         2   0.0    0   1   0   0
9   James Schofield       8      1.5  0.0         0   0.0    0   0   0   0
7     Freddie James      59      1.5  1.0         2   1.0    0   0   0   0
16  Tovy Rubinstein      18      1.5  0.0         0   0.0    0   0   0   0
6      Eliakim Alem      43      1.0  1.0         3   0.0    0   0   0   0
5          Ed Cohen      44      1.0  0.0         1   0.0    0   0   0   0
4     Christan Covi      28      1.0  0.0         0   0.0    0   0   0   0
1     Adam O'Reilly      45      0.0  0.0         2   0.0    0   0   0   0
13   Oliver Fischer      36      0.0  0.0         2   0.0    0   0   0   0

### vs UEA Pirates

In [55]:
adjusted[7][(adjusted[7].Tackles>0) | (adjusted[7].Int>0) | (adjusted[7].Pressure > 0)].sort_values(by=['Tackles'], ascending=False)

                Name  Number  Tackles  TFL  Pressure  Sack  Int  FF  FR  TD
12    Milo Wakefield      25      6.0  0.0         0   0.0    1   0   0   0
1      Ben El-Hawary      32      5.5  0.0         0   0.0    0   0   0   0
0        Aaron Mante      56      4.0  1.0         1   0.0    0   0   0   0
2      Bhavya Gandhi      93      4.0  2.0         0   0.0    0   0   0   0
14        Obed Addai      40      3.0  0.0         0   0.0    0   0   0   0
20  Zak Hall-Annison      51      2.5  0.0         0   0.0    0   0   0   0
3         Dan Wickes      38      2.0  0.0         0   0.0    0   0   0   0
4           Ed Cohen      46      1.5  0.5         1   0.0    0   0   0   0
15     Obosa Osazuwa      52      1.5  1.0         0   0.0    0   1   0   0
8    James Schofield       8      1.0  0.0         0   0.0    0   0   0   0
5       Eliakim Alem      43      1.0  1.0         0   0.0    0   1   0   0
13    Mohammad Ayoub      73      1.0  0.5         1   0.0    0   0   0   0
18    Tom Richardson      16      1.0  0.0         0   0.0    0   0   0   0
9     James Williams      20      1.0  0.0         0   0.0    0   0   1   1
7        Ivan Abbott      47      0.5  0.0         0   0.0    0   0   0   0
10    Laurence Piper      24      0.5  0.0         0   0.0    0   0   0   0
11      Lisandr Qose      29      0.5  0.0         0   0.0    0   0   0   0
6      Freddie James      55      0.0  0.0         2   0.0    0   0   0   0
17         Seun Albi      61      0.0  0.0         1   0.0    0   0   0   0

### @ Leeds Beckett Carnegie

In [56]:
adjusted[8][(adjusted[8].Tackles>0) | (adjusted[8].Int>0) | (adjusted[8].Pressure > 0)].sort_values(by=['Tackles'], ascending=False)

                   Name  Number  Tackles  TFL  Pressure  Sack  Int  FF  FR  TD
2         Ben El-Hawary      32      5.5  0.0         0   0.0    0   0   0   0
0           Aaron Mante      56      3.5  0.5         2   0.0    0   0   0   0
3         Bhavya Gandhi      93      3.0  1.0         1   0.0    0   0   0   0
10       James Williams      20      2.0  0.0         0   0.0    0   0   0   0
13           Obed Addai      40      2.0  0.0         0   0.0    0   0   0   0
14   Prince Osei-George      57      2.0  0.5         1   0.0    0   0   0   0
5              Ed Cohen      46      1.5  0.0         2   0.0    1   0   0   0
12       Milo Wakefield      25      1.5  0.0         0   0.0    0   0   0   0
9       James Schofield       8      1.0  0.0         0   0.0    0   0   0   0
6          Eliakim Alem      43      0.5  0.0         0   0.0    0   0   0   0
7         Freddie James      55      0.5  0.5         1   0.0    0   0   0   0
1             Alex Baer      53      0.0  0.0         4   0.0    0   0   0   0
11  Jeevan Singh Soomal      68      0.0  0.0         1   0.0    0   0   0   0

## Returning

In [57]:
UEAA_S=pd.read_csv("UEA_A_S.csv") 
FILA_S=pd.read_csv("FIL_A_S.csv") 
FILH_S=pd.read_csv("FIL_H_S.csv") 
CCH_S =pd.read_csv("CC_H_S.csv") 
UWEA_S=pd.read_csv("UWE_A_S.csv") 
UWEH_S=pd.read_csv("UWE_H_S.csv") 
CCA_S =pd.read_csv("CC_A_S.csv") 
UEAH_S=pd.read_csv("UEA_H_S.csv") 
LEEA_S=pd.read_csv("LEE_A_S.csv") 

events=[UEAA_S, FILA_S, FILH_S, CCH_S, UWEA_S, UWEH_S, CCA_S, UEAH_S, LEEA_S]
players=[Team_UEAA,Team_FILA,Team_FILH,Team_CCH,Team_UWEA,Team_UWEH,Team_CCA,Team_UEAH,Team_LEEA]

In [58]:
DFList=[]
statistics_S=[]
for x in range(len(events)):
    game=players[x].merge(events[x], left_on="Number", right_on="Player").drop(columns="Player")
    game= games[games.Game==x+1].merge(game, how="cross")
    DFList.append(game)
    df = game.groupby("playerID")
    df = pd.DataFrame({
    "Player" : df.Number.max(),
    "Attempts" : df.Number.count(),
    "Yards" : df.Yards.sum(),
    "Fair Catches" : df.FC.count(),
    "TDs" : df.TD.count(),
    "Fumbles" : df.Fumble.count()
    })
    df= Players.merge(df, left_on="id", right_on="playerID").drop(columns=["id"])
    statistics_S.append(df)
concat= pd.concat(DFList)
df=concat.groupby("playerID")
df = pd.DataFrame({
    "Player" : df.Number.max(),
    "Returns" : df.Number.count(),
    "Yards" : df.Yards.sum(),
    "Fair Catches" : df.FC.count(),
    "TDs" : df.TD.count(),
    "Fumbles" : df.Fumble.count()
    })
stats= Players.merge(df, left_on="id", right_on="playerID").drop(columns=["id"])

In [59]:
stats.sort_values(by=["Yards"], ascending=False)

              Name  Player  Returns  Yards  Fair Catches  TDs  Fumbles
2  James Schofield       8       14  181.0             0    0        0
5   Milo Wakefield      25       17  154.0             2    0        0
6    Oli Mohr-Knox      11        3   71.0             0    0        0
0    Christan Covi      28        4    7.0             0    0        0
1       Dan Wickes      38        3    4.0             0    0        0
7   Sam Williamson      54        1    3.0             0    0        0
8  Tovy Rubinstein      18        1    3.0             0    0        0
3      Jesse Onyas      28        1    0.0             1    0        0
4     Johnny Hakim      80        1    0.0             1    0        0

### @ UEA Pirates

In [60]:
statistics_S[0].sort_values(by=["Yards"], ascending=False)

            Name  Player  Attempts  Yards  Fair Catches  TDs  Fumbles
0  Oli Mohr-Knox      11         1     16             0    0        0

### @ SGS Pride

In [61]:
statistics_S[1].sort_values(by=["Yards"], ascending=False)

              Name  Player  Attempts  Yards  Fair Catches  TDs  Fumbles
3    Oli Mohr-Knox      11         1   33.0             0    0        0
1  James Schofield       8         2   19.0             0    0        0
4   Sam Williamson      54         1    3.0             0    0        0
0       Dan Wickes      38         1    1.0             0    0        0
2      Jesse Onyas      28         1    0.0             1    0        0

### vs SGS Pride

In [62]:
statistics_S[2].sort_values(by=["Yards"], ascending=False)

             Name  Player  Attempts  Yards  Fair Catches  TDs  Fumbles
0  Milo Wakefield      25         6   57.0             1    0        0
1   Oli Mohr-Knox      11         1   22.0             0    0        0

### vs Cardiff Cobras

In [63]:
statistics_S[3].sort_values(by=["Yards"], ascending=False)

         Name  Player  Attempts  Yards  Fair Catches  TDs  Fumbles
0  Dan Wickes      32         1      3             0    0        0

### @ UWE Bullets

In [64]:
statistics_S[4].sort_values(by=["Yards"], ascending=False)

              Name  Player  Attempts  Yards  Fair Catches  TDs  Fumbles
3   Milo Wakefield      25         5     48             0    0        0
2  James Schofield       8         1     18             0    0        0
0    Christan Covi      28         4      7             0    0        0
4  Tovy Rubinstein      18         1      3             0    0        0
1       Dan Wickes      38         1      0             0    0        0

### vs UWE Bullets

In [65]:
statistics_S[5].sort_values(by=["Yards"], ascending=False)

              Name  Player  Attempts  Yards  Fair Catches  TDs  Fumbles
0  James Schofield       8         4   60.0             0    0        0
2   Milo Wakefield      25         4   30.0             1    0        0
1     Johnny Hakim      80         1    0.0             1    0        0

### @ Cardiff Cobras

In [66]:
statistics_S[6].sort_values(by=["Yards"], ascending=False)

              Name  Player  Attempts  Yards  Fair Catches  TDs  Fumbles
0  James Schofield       8         2     45             0    0        0
1   Milo Wakefield       3         1     14             0    0        0

### vs UEA Pirates

In [67]:
statistics_S[7].sort_values(by=["Yards"], ascending=False)

              Name  Player  Attempts  Yards  Fair Catches  TDs  Fumbles
0  James Schofield       8         2     14             0    0        0

### @ Leeds Beckett Carnegie

In [68]:
statistics_S[8].sort_values(by=["Yards"], ascending=False)

              Name  Player  Attempts  Yards  Fair Catches  TDs  Fumbles
0  James Schofield       8         3     25             0    0        0
1   Milo Wakefield      25         1      5             0    0        0